<div class="modal-header">
    <div class="col-2 text-left"></div>
    <div class="col-8 text-center">
        <h4 class="modal-title">Edit Note</h4>
    </div>
    <div class="col-2 text-right"></div>
</div>
<div class="header-body-spacer"></div>
<div class="modal-body">
    <textarea name="note" [(ngModel)]="noteText" #noteTextarea></textarea>
</div>

<div class="modal-footer">
    <button type="button" class="btn-default btn-info btn-size-xs" (click)="done()">OK</button>
    <button type="button" class="btn-default btn-info btn-size-xs" (click)="cancel()">Close</button>
</div>