:host {
    padding: 15px;
}

.setting-property-wrapper .setting-property {
    padding-top: 0;
}

.setting-property-wrapper .dropdown-menu {
    padding: 0;
}

.setting-property-wrapper .dropdown-menu perfect-scrollbar {
    max-height: 140px;
}

.btn-default {
    text-transform: none;
    font-size: 10pt;
    padding-left: 8px;
    color: #515151 !important;
    border: 1px solid rgba(162, 162, 162, 0.3);
}

.dropdown-menu .dropdown-item {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.property-option-wrapper {
    margin-bottom: 10px;
}

.dropdown-lists .dropdown-item {
    padding: 3px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #3c3c3c;
    transition: all 0.2s;
}

.dropdown-lists .dropdown-item:active span,
.dropdown-lists .dropdown-item.active span {
    color: #fff;
}

.dropdown-lists .dropdown-item .list-icon-wrapper {
    margin-right: 4px;
}

.dropdown-lists .dropdown-item .list-name {
    flex-grow: 2;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.setting-property-wrapper div:nth-child(2n) .btn-default {
    width: 115px;
}

.setting-property-wrapper div:nth-child(3n) .btn-default {
    width: 155px;
}