/**
 * Styles for colors component
 */

ul.icons-all {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    flex-wrap: wrap;

}
ul.icons-all li {
    flex-basis: 10%;
    text-align: center;
}
ul.icons-all li i {
    font-size: 1.5rem;
    color: #3c3c3c;
    margin: 5px;
}
