<perfect-scrollbar fxFlex>
    <div class="w-100">
        <img src="./assets/img/app-icon-256.png" alt="" width="100" height="100" />
        <h2>Todo Cloud</h2>
        <p class="version">{{appVersion}}</p>
        <p>{{copyrightString}}</p>
        <p>All rights reserved.</p>
        <ul class="links">
            <li><a href="https://www.todo-cloud.com/terms" target="_blank">Terms</a></li>
            <li>|</li>
            <li><a href="https://www.todo-cloud.com/privacy" target="_blank">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="http://support.appigo.com/" target="_blank">Support</a></li>
        </ul>
        <hr>
        <h3>Third Party Licenses</h3>
        <p>Some technologies that our app uses require us to publish copies of the licensing language and/or copyright notices. Below are copies of those third party licenses.</p>
        <ul class="third-party">
            <li>
                <h4>Angular</h4>
                <p class="copy">Copyright © 2014-2017 Google, Inc.</p>
                <p class="license">License: <a href="https://github.com/angular/angular/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Angular Google Maps</h4>
                <p class="copy">Copyright © 2017 Sebastian Müller</p>
                <p class="license">License: <a href="https://github.com/SebastianM/angular-google-maps/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>NG Bootstrap</h4>
                <p class="copy">Copyright © 2015-2017 Angular ng-bootstrap team</p>
                <p class="license">License: <a href="https://github.com/ng-bootstrap/ng-bootstrap/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>angular-linky</h4>
                <p class="copy">Copyright © 2016 Rokas Brazdžionis</p>
                <p class="license">License: <a href="https://github.com/dzonatan/angular-linky/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>ngx-contextmenu</h4>
                <p class="copy">Copyright © 2016 isaacplmann</p>
                <p class="license">License: <a href="https://github.com/isaacplmann/ngx-contextmenu/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>angular2-jwt</h4>
                <p class="copy">Copyright © 2016 Auth0, Inc.</p>
                <p class="license">License: <a href="https://github.com/auth0/angular2-jwt/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Bootstrap</h4>
                <p class="copy">Copyright © 2011-2016 Twitter, Inc.</p>
                <p class="license">License: <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>core-js</h4>
                <p class="copy">Copyright © 2014-2017 Denis Pushkarev</p>
                <p class="license">License: <a href="https://github.com/zloirock/core-js/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Croppie</h4>
                <p class="copy">Copyright © 2015 Foliotek Inc</p>
                <p class="license">License: <a href="https://github.com/Foliotek/Croppie/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Electron</h4>
                <p class="copy">Copyright © 2013-2017 GitHub Inc.</p>
                <p class="license">License: <a href="https://github.com/electron/electron/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Font Awesome</h4>
                <p class="copy">Dave Gandy</p>
                <p class="license">License: <a href="http://fontawesome.io/license/" target="_blank">SIL OFL 1.1</a></p>
            </li>
            <li>
                <h4>google-libphonenumber</h4>
                <p class="copy">Copyright © 2015 Rui Marinho</p>
                <p class="license">License: <a href="https://github.com/ruimarinho/google-libphonenumber/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Moment</h4>
                <p class="copy">Copyright © JS Foundation and other contributors</p>
                <p class="license">License: <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Moment Timezone</h4>
                <p class="copy">Copyright © JS Foundation and other contributors</p>
                <p class="license">License: <a href="https://github.com/moment/moment-timezone/blob/develop/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Angular 2 Drag-and-Drop</h4>
                <p class="copy">Copyright © 2016 Sergey Akopkokhyants</p>
                <p class="license">License: <a href="https://github.com/akserg/ng2-dnd/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Dragula</h4>
                <p class="copy">Copyright © 2015-2016 Dmitriy Shekhovtsov</p>
                <p class="copy">Copyright © 2015-2016 Valor Software</p>
                <p class="copy">Copyright © 2015-2016 Nathan Walker</p>
                <p class="license">License: <a href="https://github.com/valor-software/ng2-dragula/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Angular Toaster Module (ng2-toastr)</h4>
                <p class="license">License: <a href="https://github.com/PointInside/ng2-toastr" target="_blank">ISC</a></p>
            </li>
            <li>
                <h4>Angular Perfect Scrollbar</h4>
                <p class="copy">Copyright © 2016 Zef Oy</p>
                <p class="license">License: <a href="https://github.com/zefoy/ngx-perfect-scrollbar/blob/master/LICENSE.md" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Metadata Reflection API</h4>
                <p class="copy">Copyright © Microsoft Corporation. All rights reserved.</p>
                <p class="license">License: <a href="https://github.com/rbuckton/reflect-metadata/blob/master/LICENSE" target="_blank">Apache License 2.0</a></p>
            </li>
            <li>
                <h4>RxJS 5</h4>
                <p class="copy">Copyright © 2015-2017 Google, Inc., Netflix, Inc., Microsoft Corp. and contributors</p>
                <p class="license">License: <a href="https://github.com/ReactiveX/rxjs/blob/master/LICENSE.txt" target="_blank">Apache License 2.0</a></p>
            </li>
            <li>
                <h4>SystemJS</h4>
                <p class="copy">Copyright © 2013-2016 Guy Bedford</p>
                <p class="license">License: <a href="https://github.com/systemjs/systemjs/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>TS-helpers</h4>
                <p class="copy">Copyright © 2016 ngParty</p>
                <p class="license">License: <a href="https://github.com/ngParty/ts-helpers/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>zone.js</h4>
                <p class="copy">Copyright © 2016 Google, Inc.</p>
                <p class="license">License: <a href="https://github.com/angular/zone.js/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>body-parser</h4>
                <p class="copy">Copyright © 2014 Jonathan Ong</p>
                <p class="copy">Copyright © 2014-2015 Douglas Christopher Wilson</p>
                <p class="license">License: <a href="https://github.com/expressjs/body-parser/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>express</h4>
                <p class="copy">Copyright © 2009-2014 TJ Holowaychuk</p>
                <p class="copy">Copyright © 2013-2014 Roman Shtylman</p>
                <p class="copy">Copyright © 2014-2015 Douglas Christopher Wilson</p>
                <p class="license">License: <a href="https://github.com/expressjs/express/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Request</h4>
                <p class="license">License: <a href="https://github.com/request/request/blob/master/LICENSE" target="_blank">Apache License 2.0</a></p>
            </li>
            <li>
                <h4>Request-Promise</h4>
                <p class="copy">Copyright © 2017, Nicolai Kamenzky, Ty Abonil, and contributors</p>
                <p class="license">License: <a href="https://github.com/request/request-promise/blob/master/LICENSE" target="_blank">ISC</a></p>
            </li>
            <li>
                <h4>Any-DB</h4>
                <p class="copy">Copyright © 2013 Stephen Sugden</p>
                <p class="license">License: <a href="https://github.com/grncdr/node-any-db/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>any-db-mysql</h4>
                <p class="license">License: <a href="https://github.com/grncdr/node-any-db-mysql" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>any-db-sqlite3</h4>
                <p class="license">License: <a href="https://github.com/grncdr/node-any-db-sqlite3" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>any-db-transaction</h4>
                <p class="license">License: <a href="https://github.com/grncdr/node-any-db-transaction" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>async</h4>
                <p class="copy">Copyright © 2010-2017 Caolan McMahon</p>
                <p class="license">License: <a href="https://github.com/caolan/async/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>AWS SDK</h4>
                <p class="copy">Copyright © 2012-2017 Amazon.com, Inc. or its affiliates. All Rights Reserved.</p>
                <p class="license">License: <a href="https://github.com/aws/aws-sdk-js/blob/master/LICENSE.txt" target="_blank">Apache License 2.0</a></p>
            </li>
            <li>
                <h4>DateJS: Evolved</h4>
                <p class="copy">Copyright © 2013 Gregory Wild-Smith</p>
                <p class="copy">Original Project Copyright © 2006-2008 Geoffrey McGill at Cooline Inc.</p>
                <p class="license">License: <a href="https://github.com/abritinthebay/datejs/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>node-jwt-simple</h4>
                <p class="copy">Copyright © 2011 Kazuhito Hokamura</p>
                <p class="license">License: <a href="https://github.com/hokaccha/node-jwt-simple/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>mandrill-api-node</h4>
                <p class="copy">Copyright © 2013 The Rocket Science Group, LLC.</p>
                <p class="license">License: <a href="https://bitbucket.org/mailchimp/mandrill-api-node/src/cce9b2efe8cf71f0fb7d7a97723a2edc7e40b236/LICENSE?at=master" target="_blank">Apache License 2.0</a></p>
            </li>
            <li>
                <h4>MD5</h4>
                <p class="copy">Copyright © 2011-2012, Paul Vorbach.</p>
                <p class="copy">Copyright © 2009, Jeff Mott.</p>
                <p class="license">License: <a href="https://github.com/pvorb/node-md5/blob/master/LICENSE" target="_blank">BSD 3-clause</a></p>
            </li>
            <li>
                <h4>semaphore.js</h4>
                <p class="license">License: <a href="https://github.com/abrkn/semaphore.js" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>shortid</h4>
                <p class="copy">Copyright © Dylan Greene. All rights reserved.</p>
                <p class="license">License: <a href="https://github.com/dylang/shortid/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Stripe Node.js Library</h4>
                <p class="copy">Copyright © 2011 Ask Bjørn Hansen</p>
                <p class="copy">Copyright © 2013 Stripe, Inc.</p>
                <p class="license">License: <a href="https://github.com/stripe/stripe-node/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>uuid</h4>
                <p class="copy">Copyright © 2010-2016 Robert Kieffer and other contributors</p>
                <p class="license">License: <a href="https://github.com/kelektiv/node-uuid/blob/master/LICENSE.md" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>validator.js</h4>
                <p class="copy">Copyright © 2016 Chris O'Hara</p>
                <p class="license">License: <a href="https://github.com/chriso/validator.js/blob/master/LICENSE" target="_blank">MIT</a></p>
            </li>
        </ul>
    </div>
</perfect-scrollbar>
