<div class="modal-header">
    <div class="col-2 text-left"></div>
    <div class="col-8 text-center">
        <h4 class="modal-title">{{propertyTypeModule.title}}</h4>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="close" aria-label="Done" (click)="done.emit()">Done</button>
    </div>
</div>
<div class="modal-body no-footer settings">
    <div class="editor-header"></div>
    <div class="setting-section">
        <div *ngFor="let row of propertyTypeModule.rows" class="row hover" (click)="select(row)">
            <label>{{row.label}}</label>
            <i *ngIf="filterIncludes(row.type)"  class="fa fa-check"></i>
        </div>
    </div>
</div>