:host {
    display: flex;
    padding: 15px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.3);
}

.btn-default {
    text-transform: capitalize;
    font-size: 0.8rem;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-default.dropdown-toggle {
    min-width: 110px;
}
.dropdown-menu-right {
    min-width: 100px;
}

input[type="text"] {
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
    flex-grow: 2;
    height: 30px;
    padding: 4px 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    min-width: 100px;
}

.item-type-buttons {
    font-size: 0;
}


.dropdown-menu div button {
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

@media (max-width: 767px) {
    :host {
        padding-top: 10px;
        padding-bottom: 9px;
    }
}