:host {
    display: block;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

@media (max-width: 576px) {
    .main-container  {
        margin-top: 0;
    }
}

aside {
    background-color: #f5f5f5;
    padding:0;
    width:280px;
    position: relative;
}

.no-visible {
    position: absolute;
    text-indent: -99999px;
    left: -100px;
    top: -100px;
}

.system-message {
    width: 100%;
    padding-left : 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: orange;
    color : white;
}

nav.st-menu {
    padding: 0;
    box-shadow: -2px 0 6px -4px rgba(0,0,0,0.4);
    /*width: 360px;*/
    z-index: 20;
}

.task-edit-container {
    transform: translate(101%, 0);
}

.open-menu .task-edit-container {
    transform: translate(0, 0);
    background-color: #f5f5f5;
}
.open-menu navigation-bar {
    display: block;
}

tasks {
    width: calc(100% - 280px);
}

.open-menu tasks {
    width: calc(100% - 280px - 320px);
    min-width: 320px;
}

task-edit {
    width: 320px;
}

.sync-container {
    width: 100vw;
    height: 100vh;
    background: #009ae7;
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-spinner:before {
    top: auto;
    left: auto;
    margin-top: 25px;
}

.display-name {
    margin-bottom: 1em;
}

.sync-logo {
    margin-top: -20px;
}

.sync-message {
    margin-top: 100px;
}

main-calendar {
    border-top: 1px solid rgba(162, 162, 162, 0.5);
}

.toggle-calendar {
    position: absolute;
    cursor: pointer;
    left: calc(50% - 14px);
    z-index: 999;
    bottom: 0;
}
.toggle-calendar.open {
    bottom: auto;
}

.toggle-calendar svg .path-1 {
    stroke: #aaa;
}

.toggle-calendar svg .path-2 {
    fill: #aaa;
}

.toggle-calendar svg:hover .path-1 {
    stroke: #888;
}

.toggle-calendar svg:hover .path-2 {
    fill: #888;
}

.toggle-calendar.close {
    opacity: 1;
}

.toggle-calendar.close svg {
    transform: rotate(180deg);
}

.task-edit-container {
    top: 52px;
}

@media (max-width: 480px) {
    .open-menu navigation-bar {
        max-width:100%;
    }

    aside {
        transform: translate(-100%, 0);
        position: absolute;
        top: 0;
        z-index: 40;
        margin-top: 56px;
        height: calc(100vh - 56px);
    }

    aside.open {
        transform: translate(0, 0);
    }

    aside,
    tasks,
    .open-menu tasks,
    task-edit.task-edit-container {
        width: 100%;
    }
}

@media (max-width: 575px) {

}
