<div class="landing">
    <div class="landing-inner">
        <div class="box">
            <header class="row text-center">
                <div class="col-6">
                    <img src="./assets/img/todo-logo.png" alt="" width="125" height="21" />
                </div>
            </header>
            <div class="content" *ngIf="signedIn && (invitationInfo != null)">
                <p class="text-center">{{invitationInfo.account.displayName()}} ({{invitationInfo.account.userName}}) wants to share the list <strong>{{invitationInfo.list.name}}</strong> with you.</p>
                <div class="text-center">
                    <a class="btn-default btn-info" (click)="navigateTo('home')">Ignore</a>
                    <a class="btn-default btn-green" (click)="acceptInvitation()">Accept</a>
                </div>
            </div>
            <div class="content" *ngIf="!signedIn && (invitationInfo != null)">
                <p class="text-center">{{invitationInfo.account.displayName()}} ({{invitationInfo.account.userName}}) wants to share the list <strong>{{invitationInfo.list.name}}</strong> with you.</p>
                <div class="text-center">
                    <a class="btn-default btn-green" (click)="navigateTo('register')">Register for Todo Cloud</a>
                    <p>or <span class="link" (click)="navigateTo('signin')">Sign in</span></p>
                </div>
            </div>
            <div class="content" *ngIf="invalidInvitation && (invitationInfo === null)">
                <p class="text-center">Invalid Invitation code</p>
                <div class="text-center">
                    <a class="btn-default btn-green" (click)="signedIn ? navigateTo('home') : navigateTo('register')">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>