<div class="modal-header">
    <div class="col-2 text-left"></div>
    <div class="col-8 text-center">
        <h4 class="modal-title">Colors</h4>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="close" aria-label="Done" (click)="done.emit()">Done</button>
    </div>
</div>
<div class="modal-body">
    <div class="colors colors-all">
        <ul>
            <li *ngFor="let color of availableColors">
                <i class="item-color" [ngClass]="{selected: color===list.color}" [style.backgroundColor]="color" (click)="changeColor(color)">
                    <i *ngIf="color===list.color" class="fa fa-check"></i>
                </i>
            </li>
        </ul>
    </div>
</div>