<div class="modal-header">
    <div class="col-2 text-left"></div>
    <div class="col-8 text-center">
        <h4 *ngIf="!errorMessage" class="modal-title">Delete this list?</h4>
        <h4 *ngIf="errorMessage" class="modal-title">Error deleting the list</h4>
    </div>
    <div class="col-2 text-right"></div>
</div>
<div class="header-body-spacer"></div>
<div class="modal-body">
    <div *ngIf="!errorMessage">Are you sure you want to delete <em><strong>{{list.name}}</strong></em> and all of its tasks?</div>
    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
</div>
<div class="modal-footer">
    <button *ngIf="!errorMessage" type="button" class="btn-default btn-info btn-size-xs" (click)="cancel()">Cancel</button>
    <button *ngIf="!errorMessage" type="button" class="btn-default btn-warning btn-size-xs" (click)="delete()">Delete</button>
    <button *ngIf="errorMessage" type="button" class="btn-default btn-info btn-size-xs" (click)="cancel()">Close</button>
</div>