/**
  * Reset Password styles
  */
.landing-overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff url(../../../assets/img/todo-cloud-landingpage-bg.jpg) center center / cover no-repeat;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 1;
    z-index: 1;
}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.landing .landing-inner {
    border-radius: 24px;
    background-color: rgba(33, 150, 243, 0.8);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.landing form {
    margin: 0;
}

.landing .form-group.submit {
    text-align: center;
    margin: 0;
}

.form-text {
    transition: color 0.2s;
    color: #eee;
    font-weight:300;
    font-size: 0.8rem;
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
}

label {
    color: #fff;
}